body{
  background-color: #B7B7B7;
}

html, body {
  height: 100%;
  width: 100%;
}

#titulo {
    text-align: center;
    width:500px;
    height:35px;
    background: whitesmoke;
  }

#b{
  text-align: center;
}
