body{
  background-color: #B7B7B7;
}

#titulo{
    text-align: center;
    width:500px;
    height:45px;
    background: whitesmoke;
  }
  
  .flexbox {
    display: flex;
  }

  #salve {
    font-size: 200%;
    width: auto;
  }
  
  #botoes{
    text-align: center;
  }

  .container input {
    width: 100%;
    clear: both;
  }
