body{
  background-color: #B7B7B7;
}


#title1 {
    text-align: center;
    width:500px;
    height:45px;
    background: whitesmoke;
  }
  
  .flexbox {
    display: flex;
  }

  #savebutton {
    font-size: 200%;
    width: auto;
  }
  
  #buttons{
    text-align: center;
  }

  .container input {
    width: 100%;
    clear: both;
  }
